
@{
    Layout = null;
    List<Book.Model.T_Stock_OutHead> lst = ViewBag.lst;
    
}

<form id="pagerForm" method="post" action="/book/index">
    <input type="hidden" name="status" value="${param.status}">
    <input type="hidden" name="keywords" value="${param.keywords}" />
    <input type="hidden" name="pageNum" value="1" />
    <input type="hidden" name="numPerPage" value="${model.numPerPage}" />
    <input type="hidden" name="orderField" value="${param.orderField}" />
</form>


<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" action="/stockout/index" method="post">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        创建人：<input type="text" name="keyword" />
                    </td>
                    <td>
                        <select class="combox" name="province">
                            <option value="">所有省市</option>
                            <option value="北京">北京</option>
                            <option value="上海">上海</option>
                            <option value="天津">天津</option>
                            <option value="重庆">重庆</option>
                            <option value="广东">广东</option>
                        </select>
                    </td>
                    <td>
                        建档日期：<input type="text" class="date" readonly="true" />
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                    <li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="/stockout/add" target="navTab" rel="bookadd"><span>添加</span></a></li>
            <li class=""><a title="确实要删除这些记录吗?" target="selectedTodo" rel="ids" href="/stockout/delete" posttype="string" class="delete"><span>批量删除</span></a></li>
            @*<li><a class="delete" href="book/delete?uid={sid_user}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>*@
            <li><a class="edit" href="/stockout/edit?headid={sid_head}" target="navTab"><span>修改</span></a></li>
            <li class="line">line</li>
            <li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targetType="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="138">
        <thead>
            <tr>
                <th class="" style="width: 18px; cursor: default;">
                    <div class="gridCol" title="">
                        <input type="checkbox" group="ids" class="checkboxCtrl">
                    </div>
                </th>
                <th width="80">创建人</th>
                <th width="80" align="center">创建时间</th>
                <th width="120">客户</th>
                <th width="80" align="center">操作</th>

            </tr>
        </thead>
        <tbody>
            @foreach (Book.Model.T_Stock_OutHead item in lst)
            {
                <tr target="sid_head" rel="@item.Id">
                    <td style="width: 18px;">
                        <div>
                            <input name="ids" value="@item.Id" type="checkbox" />
                        </div>
                    </td>

                    @{ 
                        //获取创建人书名列表title
                        string title = "";
                        int i = 1;
                        Book.DAL.DalT_Stock_OutItems dalItem = new Book.DAL.DalT_Stock_OutItems();
                        List<Book.Model.T_Stock_OutItems> items = dalItem.GetListOfChild(" headid=" + @item.Id);
                     }
                    @foreach (Book.Model.T_Stock_OutItems item2 in items)
                    {
                        title += i +"."+ @item2.Book.BookName +" "+@item2.Amount+"本" + "\n";
                        i++;
                    }
                    <td><a title="@title">@item.Creater</a></td> @*考虑实现把鼠标放在这里可以显示该创建人添加的书名（一行显示）*@
                    
                    <td>@item.CreateTime.ToShortDateString()</td>
                    <td>@item.Customer.Name</td>
                    <td><a href="/stockout/edit/@item.Id" target="navTab">编辑</a></td>

                </tr>
            }
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
            <span>条，共 @ViewBag.RecordCount 条</span>
        </div>

        <div class="pagination" targetType="navTab" totalCount="@ViewBag.RecordCount" numPerPage="@ViewBag.PageSize" pageNumShown="5" currentPage="@ViewBag.CurrentPageIndex"></div>

    </div>
</div>
